<div class="title_back_edit">
  <h1>New Contribution～新規投稿～</h1>
</div>

<%= render 'form', contribution: @contribution %>

<div class="title_back_edit">
  <%= link_to 'Back', contributions_path %>
</div>