<h1>あなたの提案書がウォッチリストに追加されました.</h1>

<!--お気に入り"された"記事の投稿者にメールを飛ばす-->
<p> <%= @favorite.contribution.user.name %>さんの <%= @favorite.contribution.title %>が,
<%= @favorite.user.name %>さんにウォッチリストに追加されました。</p>


