<h1>あなたの提案書がウォッチリストに追加されました.</h1>

<!--お気に入り"された"記事の投稿者にメールを飛ばす-->
<p> <%= @favorite.contribution.user.name %>さんの提案書「 <%= @favorite.contribution.title %>」が,
ユーザー<%= @favorite.user.name %>さんのウォッチリストに登録されました。</p>


