/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 
 *= require_tree .
 *= require_self
 */

ul li{ 	
    display: inline;

 } 
 
header {
  font-size: 16px;
  /*color: white;*/
  width: 100%;
  background-color: #2c3e50;
  vertical-align: middle;
  text-align: right;
  height: 54px;
}

header ul {
  margin: 0 auto;
  /*color: white;*/
  list-style: none;
  vertical-align: middle;

}

container {
  text-align: center;
}



footer {
  width: 100%;
  background-color:#2c3e50;
  /*padding: 20px ;*/
  color: white;
  /*margin: auto;*/
  /*padding-bottom: 20px;*/
  font-size: 18px;
  position: fixed;
  bottom: 0;
  height: 30px;
  font: normal 14px Roboto,arial,sans-serif;
  text-align: center
}

ul navbar-text navbar-right{
  text-align: right;
  align-items: center;

}
  
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

.btn btn-primary{
  margin-bottom: 10px  
}

.field{
  color: black;
  margin-left: 30px;
}

.actions{
  color: black;
  margin-left: 30px;
}
