// Place all the styles related to the contributions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
    overflow: hidden;
    margin-left:50px;
    border-spacing: 1px;
    // background: #999;
}

tr:hover {
    background-color: #ffa;
}

.field img{
  width:35%;
  height:35%;
}

body{
  color:black;
}

form{
  margin-left:0px;
}

body td a{
  color:black;
}

// @media (min-width: 768px)
// .navbar-toggle {
//     display: none;
// }

.c_show{
  margin-left:40px;
}

.title_back_edit{
  margin-left:20px;
}