@import url(http://fonts.googleapis.com/css?family=Roboto:400);
body {
  background-color:#fff;
  // -webkit-font-smoothing: antialiased;
  font: normal 14px Roboto,arial,sans-serif;
  
}

.container {
    padding: 25px;
    position: relative;
    background-image: url("tetsuya.jpg");
    background-size: cover;
    background-position: center 60%;
    width:full;
    height:90%;
}

form-login{
  color:white;
}


h1, h4{ 
  // border:0 solid #fff; 
  // border-bottom-width:1px;
  // padding-bottom:10px;
  // text-align: center;
  color:white;
}


.form-control {
    border-radius: 10px;
}

.wrapper {
    text-align: center;
}

