body {
  background-color:#fff;
  // -webkit-font-smoothing: antialiased;
  font: normal 14px Roboto,arial,sans-serif;
  height:120%;

}

.container {
    padding: 25px;
    position: relative;
    background-image: url("tetsuya.jpg");
    background-size: auto;
    background-position: center 50%;
    width:full;
    height:120%;
}

form-login{
  color:white;
}


.h1{ 
  // border:0 solid #fff; 
  // border-bottom-width:1px;
  // padding-bottom:10px;
  // text-align: center;
  color:black;
}





.wrapper {
    text-align: auto;
}

