// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form{
  color:white;
}


.container {
    padding: 25px;
    position: relative;
    background-image: url("tetsuya.jpg");
    background-size: cover;
    background-position: center 60%;
    width:full;
    height:90%;
}

form_new {
  // font-family: verdana, arial, helvetica, sans-serif;
  // margin-bottom: 5px;
  color:white;
}

h4 {
  color: #F2F2F2;
  text-shadow: 1px 1px 1px #EFF8FB;
  }

.h1_user_new {
  color: white;
  }

h1 {
  color: #F2F2F2;
  text-shadow: 1px 1px 1px #EFF8FB;
  }

  
h2 {
  color: #F2F2F2;
  text-shadow: 1px 1px 1px #EFF8FB;
  }